/* Style for each list item */
.listItem {
  display: inline-block;
  margin-right: 20px;
}

/* Style for each link */
.listItemLink {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
}
