/* Style for the unordered list */
.listGroup {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 64px;
  width: fit-content;
  margin-left: auto;
  height: 95%;

  /* position: absolute;
  width: 625px;
  height: 101px;
  left: 982px;
  top: 21px; */
}
